<% provide :page_title, "Edit Question" %>
<% currently_at "Questions" %>

<div class="d-flex justify-content-between mb-4">
  <h1>Edit question</h1>
  <%= link_to "<- Back", :back, class: "btn" %>
</div>

<%= render "form" %>