<% provide :page_title, "Edin Answer" %>
<% currently_at "Answer" %>

<div class="d-flex justify-content-between mb-4">
  <h1>Edit answer</h1>
  <%= link_to "<- Back", :back, class: "btn" %>
</div>

<%= render "form" %>